article
	background white
	border-radius 0 0 0.5em 0.5em
	box-shadow 0.2em 0.2em 0.2em black
	color #222
	margin 0 0.5em 1em 0.5em
	padding 1.5em
	text-align justify

body
	background #ddd

fieldset
	border 0.1em solid black
	border-radius 0.5em
	padding 1em

header
	background teal
	display inline-block
	left 0
	overflow hidden
	position relative
	top 0
	vertical-align middle
	width 100%

input [type="checkbox"]
input [type="radio"]
select
    background #EEE
    cursor pointer

input[type="date"], input[type="email"], input[type="tel"], input[type="text"],textarea{
    background: #EEE;
    border-radius: .25em;
    font-size: 1em;
    padding: .25em;
    width: 15em;
}

input[type="submit"]
	font-weight bold
	height 2em
	transition all 0.7s 0s
	width 7em

	&:hover
		background teal
		border transparent
		color white
		text-shadow 0 0 0.1em black
		transition all 0.7s 0s

label
	cursor pointer

nav
	background #222
	overflow-x scroll
	white-space nowrap

ul
	list-decoration none
	margin 0

li
	display inline-block
	padding 0.5em
	text-align center
	width 6em

footer
	background teal
	color white
	padding 1.8em 0 1em 0
	text-align center

.contenido
	margin 0.1em 0 0.3em 0
	padding 0
	text-align justify

.dato
	padding 0.1em 0 0.1em 0

.etiqueta
	display inline-block
	width 9em

.footer_copy
	font-size smaller
	padding-top 2.5em

.lema
.logo
	display inline-block
	margin 0
	padding 0

.lema
	color white
	font-size 10px
	left 18em
	margin 4em 0 4em 0
	padding 0.5em
	position absolute
	text-shadow 0.1em 0.1em 0em black
	top 0
	vertical-align middle

.libro
	margin 1em 0 0.1em 0
	padding 0
	text-shadow 0.1em 0.1em 0.05em #ddd

.link
	transition all 0.5s 0s

	&:hover
		background #BDC53F
		transition all 0.5s 0s
	
.link_curso
#venta_libre
#primer
#segundo
#tercer
	display block
	padding 0.1em
	text-align left
	width 25em

	a
		color teal
		font-weight bold
		text-decoration none

.logo
	height 10em
	float left

.logo_sean
	height 10em

.page_title
	margin 0 0 1em 0
	padding 0

.seccion
	border-bottom thin solid #ddd
	margin-bottom 1em

.submit_div
	padding 0.5em
	text-align right

.vinculo
.vinculo_social
	color white
	margin 0
	text-decoration none

.volver
	color teal
	font-size smaller
	font-weight bold
	text-decoration none

@media screen and (max-width: 320px)
	.lema
		margin 0
	.nav
		display block
		overflow-x none
		white-space initial
		width 100%

@media screen and (min-width: 720px)
	.lema
		font-size 17px
		left 10em
		margin 0
		padding 1em 0 1em 0

@media screen and (min-width: 1000px)
	.lema
		padding 2em 0 2em 0